# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Large Datasets
# ==========================
data/raw/
data/processed/

# Keep sample dataset
!data/samples/
!data/samples/*.csv

# ==========================
# Saved Models
# ==========================
models/saved_models/
models/shap_values/

# ==========================
# Operating System
# ==========================
Thumbs.db
.DS_Store
# Trained Models
models/baseline_models/*.pkl
models/saved_models/*.pkl

# SHAP outputs
models/shap_values/

# Large outputs
outputs/reports/
outputs/figures/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/